@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,500;1,600&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    align-items: center;
    font-family: "Merriweather", sans-serif;
    background: hsl(38, 11%, 44%);
    padding-bottom: 2rem;
}

h1 {
    padding: 9rem 0 1rem 0;
    font-size: 50px;
    text-align: center;
    color: #C6CA53;
}

span {
    color: #C9DCB3;
    font-weight: 900;
}

.container {
    margin: auto;
    width: 60%;
    padding: 1rem 0 1rem 0;
    overflow: hidden;
    position: relative;
    border: 3px solid #555358;
    border-radius: 1rem;
    background: #5F6062;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 80%;
    height: 40%;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid black;
}

.dots {
    position: absolute;
    bottom: 5px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots .dot {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    cursor:pointer;
}

.dots .dot.active {
    width: 30px;
    
}